	<style>
	
	.ft-mosaic .heading-inner h2 {
	margin: 0px;
	}
	
	.ca-section .heading {
	padding: 0px;
	margin-bottom: -35px;
	background: url(/img/glb/header-underline_tcm864-1117054.png) no-repeat center bottom;
	z-index: 2;
	position: relative;
	}
	
	.ft-mosaic .mosaic-filter-intro .mosaic-filter-intro-inner {
	z-index: 2;
	padding-top: 0px;
	margin: 0 auto;
	}
	
	.mosaicFilterSlider-items-5 {
	width: 800px;
	position: absolute;
	top: 90px;
	right: 0px;
	}
	
	
	.mosaicFilterSlider-inner-container {
	background: url(/img/glb/BG_tint_40_tcm864-1224836.png) repeat-y center;
	padding-bottom: 15px;
	height: 240px;
	}
	
	.mosaicFilterSlider .mosaicFilterSlider-gutter {
	box-shadow: 0 14px 8px -12px #2E2929 inset, 0 -11px 24px -12px #2B2929 inset;
	background-color: #BEBBBB;
	border-radius: 19px 19px 19px 19px;
	height: 38px;
	}
	
    .multiplebgs .ft-mosaic .ft-mosaic-style-LexusDesignAward, .multiplebgs .ft-mosaic .ft-mosaic-style-designaward {
background: rgb(84,165,220);
	}
	
	
	.multiplebgs .ft-mosaic .ft-mosaic-style-cnn {
	
	background: rgb(84,165,220);
	}
	
	
	.multiplebgs .ft-mosaic .ft-mosaic-style-MilanDesignWeek, .multiplebgs .ft-mosaic .ft-mosaic-style-milan {
		background: rgb(84,165,0);
	}
	

	.multiplebgs .ft-mosaic .ft-mosaic-style-LexusShortFilms, .multiplebgs .ft-mosaic .ft-mosaic-style-shortfilms {
	background: rgb(220,220,0);
	}
	
	.multiplebgs .ft-mosaic .ft-mosaic-style-SportsExcellence, .multiplebgs .ft-mosaic .ft-mosaic-style-euro {
	background: rgb(220,0,220);
	}
	
	.multiplebgs .ft-mosaic .ft-mosaic-style-Steps, .multiplebgs .ft-mosaic .ft-mosaic-style-steps {
	background: rgb(0,220,220);
	}
	
	.mosaicFilterSlider-inner-container {
	background: url(http://education2.freeformers.com/maxbye/whitedog/img/bg.png) repeat center;
	padding-bottom: 45px;
	height: 240px;
	}
	
	.ca-section {
	margin-bottom: 25px;
	margin-top: 0px;
	padding-top: 0px;
	}
	
	.ft-mosaic .cm-mosaic {
	min-height: 366px;
	background: 0;
	z-index: 2;
	position: relative;
	padding: 50px 0 120px 0;
	}
	
	.testbox{
		background-color:orange;
	}
	
	.ft-mosaic .mosaic-filter-intro {
		background: 0;
	}
	
	.mosaicFilterSlider {
	margin: 0px;
	clear: left;
	}
	
	.ft-mosaic .heading h1, .ft-mosaic .heading h2 {
	text-align: left;
	}
	
	.ft-mosaic .heading h1, .ft-mosaic .heading h2 {
	text-align: left;
	}
	
    .navbar .btn-navbar {
	float: left;
    }
	
	* {
	vertical-align: baseline;
	}
	
	.ft-mosaic .heading h1, .ft-mosaic .heading h2 {
	text-align: center;
	}
	
	.tagline{
		margin-left:30px;
	}
	
	.ft-mosaic .heading-inner img {

	
	display: block;
	}
	
	.demo-container {
	border-radius: 20px;
	box-sizing: border-box;
	width: 700px;

	padding: 20px 15px 15px 15px;
	margin: 15px auto 30px auto;
	border: 1px solid #ddd;
	}
	
	.demo-placeholder {
	height: 90%;
	
	font-size: 14px;
	line-height: 1.2em;
	}
	
	.mosaicFilterSlider .mosaicFilterSlider-pointer {
	z-index:10;	
	}
	
	.ca-section .heading h1, .ca-section .heading h2 {
	font-family: "Nobel";
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	letter-spacing: -1px;
	margin: 0 0 0 0;
	color: #363636;
	}
	
	.ft-mosaic .heading-inner img {
	margin: 0px 0px 0px 20px;
	display: inline;
	}
	
	.howTitle{
		position: absolute;
		top: 123px;
		z-index: 1;
		right: 40px;
		color: white;
	}
	
	.ca-section {
	margin-bottom: 25px;
	margin-top: -25px;
	padding-top: 0px;
	margin-left: -25px;
	}
	
	
	</style>
